body {
    background-color: #5d5c61;
}

#main-container {
    display: grid;
    grid-template-rows: 1fr 5fr;
}

#header {
    
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.weather-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    padding: 25px;
    border-radius: 15px;
    background-color: #7395ae;
    box-shadow: 5px 5px 10px black;
}

.date {
    
}

.weather-body {
    font-size: xx-large;
}

form {
    display: grid;

    padding: 20px;
    margin: 20px;
}

label {
    font-size: x-large;
}

button {
    font-size: x-large;
}

input {
    height: 30px;
    font-size: x-large;
}

.icon {

}